* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;

}

body {
    background-image: url('./img/7171b7eeec7255a80ef12c227fda3e4a483adcad_s2_n2_y2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h4{
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 100vh;

}

.col {
    display: flex;
    align-items: end;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(239, 83, 80);
    position: relative;
}

.serch {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    width: 300px;

}

.dettagliPokemo {
    background-color: white;
    width: 90%;
    margin-left: 20px;
    height: 245px;
    display: flex;
    padding: 18px;
    border-radius: 10px;
}
.bg-gray{
    display: flex;
    background-color: rgb(186, 178, 178);
    width: 100%;
    height: 210px;
    padding: 5px;
}
#pokemonName {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid grey;
}

.button {
    padding: 8px;
    border-radius: 10px;
    border: none;
}

.container_img {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.pointsContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 5px;
}

.pointRed {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 100%;
}

.col-img {
    display: flex;
    justify-content: center;
    background-color: rgb(186, 178, 178);
    height: 200px;
    width: 240px;

}

.img {
    width: 300px;
}

.pointsContainer2 {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.pointRed2 {
    height: 30px;
    width: 30px;
    background-color: red;
    border: 1px solid black;
    border-radius: 100%;
}

.line_hr {
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

hr {
    height: 5px;
    border-radius: 30px;
    background-color: gray;
}

.NomePokemon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 20px;
}

#pokemonName2 {
    text-transform: capitalize;
}

#NumeroPokemon {
    display: flex;
    align-items: end;
}

.altezza {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 165px;
}

.spazio {
    height: 30px;
    line-height: 25px;
}

.type {
    display: flex;
    gap: 10px;
    text-transform: capitalize;
}

.col_button {
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pointBlack {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 100%;
}

.flex_hr {
    display: flex;
    gap: 5px;

}

.hr_red {
    width: 50px;
    background-color: red;
    border: 1px solid black;
}

.hr_blu {
    width: 50px;
    background-color: rgb(0, 165, 155);
    border: 1px solid black;
}

.col_detailsPokemon {
    display: flex;
    justify-content: center;
}

#detailsPokemon {
    height: 50px;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(57, 181, 74);
    color: white;
}

/* giuntura delle due carte */

.joints {
    height: 470px;
    width: 35px;
    background-color: rgb(239, 83, 80);
    border: 2px solid black;
    position: absolute;
    left: 330px;
    bottom: -1px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.joint_top {
    height: 40px;
    width: 31px;
    background-color: rgb(239, 83, 80);
    border-bottom: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.joint_bottom {
    height: 40px;
    width: 31px;
    background-color: rgb(239, 83, 80);
    border-top: 2px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* contenitore 2 pokedex */

.card2 {
    display: flex;
    height: 465px;
    width: 310px;
    background-color: rgb(239, 83, 80);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.container-black {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 58px;
    width: 220px;
    background-color: black;
}

.col_black {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 80px;
    gap: 5px;
    margin-left: 13px;
    padding: 10px;
}
.col-white{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 5px;
    margin-right: 10px;
}
.col-white2{
    display: flex;
}
.container-white{
    height: 45px;
    width: 80px;
    background-color: white;
    border: 1px solid black;
}
.pointYellow{
    height: 40px;
    width: 40px;
    background-color: rgb(252,195,17);
    border-radius: 100%;
    border: 1px solid black;
}
.container-black2 {
    border-radius: 8px;
    height: 50px;
    width: 120px;
    background-color: black;
}

.stats {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}


/* style stats */
.hp{
    color: #D46A6A;
}
.att{
    color: #D98E73;
}
.dif{
    color: #7A9D7B ;
}
.atk{
    color:#7A89D9 ;
}
.def{
    color: #A789D9;
}
.vel{
    color: #D9D47A ;
}
.bg-greyChiaro{
    color: #5A5A5A;
}
.blu-desaturato{
    color:  #708090;
}
.lavanda-desaturato{
    color: #8A7D90;
}
.blu-grigio-chiaro{
    color: #7A89D9;
    text-transform: capitalize;
}
.verde-grigio{
    color:#7A9D7B ;
    text-transform: capitalize;
}
.grigio-antracite{
    color:#3A3A3A ;
}

/* pokemon trovati */

.pokedex{
    height: 700px;
    width: 700px;
    background-color: white;
}